@page "/"
@inject HttpClient Http

<PageTitle>The Blazor Act</PageTitle>

<h3>Blazor<small class="text-muted"> Building interactive web UIs with C#</small></h3>

<Pin InnerText="Blazor lets you build interactive web UIs using C# instead of JavaScript."/>

<div class="accordion" id="webassembly-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="webassembly-heading-one">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#webassembly-collapse-one" aria-expanded="false" aria-controls="webassembly-collapse-one">
        @GetHeading("requirements")
      </button>
    </h2>
    <div id="webassembly-collapse-one" class="accordion-collapse collapse" aria-labelledby="webassembly-heading-one" data-bs-parent="#webassembly-accordion">
      <div class="accordion-body">
        @GetBody("requirements")
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="webassembly-heading-two">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#webassembly-collapse-two" aria-expanded="false" aria-controls="webassembly-collapse-two">
        @GetHeading("project-structure")
      </button>
    </h2>
    <div id="webassembly-collapse-two" class="accordion-collapse collapse" aria-labelledby="webassembly-heading-two" data-bs-parent="#webassembly-accordion">
      <div class="accordion-body">
        @GetBody("project-structure")
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="webassembly-heading-three">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#webassembly-collapse-three" aria-expanded="false" aria-controls="webassembly-collapse-three">
        @GetHeading("blazor-flavors")
      </button>
    </h2>
    <div id="webassembly-collapse-three" class="accordion-collapse collapse" aria-labelledby="webassembly-heading-three" data-bs-parent="#webassembly-accordion">
      <div class="accordion-body">
        @GetBody("blazor-flavors")
      </div>
    </div>
  </div>
</div>

<Offcanvas/>

@code {
  private IDictionary<string, Tuple<string, string>> overviewData;

  protected override async Task OnInitializedAsync()
  {
    overviewData = await Http.GetFromJsonAsync<IDictionary<string, Tuple<string, string>>>("sample-data/Index.json");
  }

  private string GetHeading(string key)
  {
    return overviewData?[key].Item1;
  }

  private MarkupString GetBody(string key)
  {
    return new MarkupString(overviewData != null ? overviewData[key].Item2 : string.Empty);
  }
}